#main {
  margin-top: 50px;
  text-align: center;
}

#url {
  overflow: auto;
  color: #58559c;
}

button.letter {
  height: 63px;
  width: 83px;
}

button.btn-success {
   height: 63px;
   width: 110px;
}

#clear {
  height: 63px;
  width:120px;
}

#back {
  height: 63px;
  width: 200px;
}

button>p {
  font-size: 35px;
}
