#main {
  text-align: center;
}

#main>h1 {
  margin-top: 50px;
}

#keyboard {
  text-align: center;
}

#url {
  overflow: auto;
  color: #58559c;
}

button.letter {
  height: 63px;
  width: 53px;
}

button.btn-success {
   height: 63px;
   width: 110px;
}

#clear {
  height: 63px;
  width:120px;
}

#back {
  height: 63px;
  width: 200px;
}

button>p {
  font-size: 35px;
}

#history {
  text-align: center;
  margin-top: 30px;
}

li {
  width: 250px;
}

li>div {
  overflow: auto;
}